<body>
  <h2>Falha de envio</h2>
  <br />
  <p>O email com assunto {{subject}} falhou ao ser enviado pelo servidor.</p>
  <br />
  <label>De: </label> {{from}} <br />
  <label>Para: </label> {{to}} <label>Detalhes da falha:</label><br />
  {{err}} <br /><br />
  <p>Por favor, contate o administrador do serviço para obter mais detalhes.</p>
</body>
